# DESCRIPTION

This is an exploratory analysis of some fake news article collated by Buzzfeed and the amount of Facebook Engagement they garnered. 

The raw data was extracted from BuzzFeed's github repositories: https://github.com/BuzzFeedNews/2018-12-fake-news-top-50/tree/master
Please check out their github profile for better context of the data and the data extraction method.

In [196]:
## importing of modules

import pandas as pd
import numpy as np
import matplotlib as plotly

In [197]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Data Cleaning

In [198]:
## Loading csv into dataframe

df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Fake News/fakenews_article.csv")

df = pd.DataFrame(df)

In [199]:
## Identifying null values

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13961 entries, 0 to 13960
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           13960 non-null  object
 1   url             13961 non-null  object
 2   site_name       13961 non-null  object
 3   fb_engagement   13961 non-null  object
 4   published_date  13961 non-null  object
 5   category        11854 non-null  object
dtypes: object(6)
memory usage: 654.5+ KB

In [200]:
## basic information about the dataframe

df.describe()

,title,url,site_name,fb_engagement,published_date,category
count,13960,13961,13961,13961,13961,11854
unique,12372,12971,74,2377,364,165
top,Neon Nettle,https://newspunch.com/hundreds-children-rescue...,yournewswire.com,0.00,7/20/2018,Sean Adl-tabatabai
freq,4,2,3555,3087,537,2835

In [201]:
##Correcting the type for column (fb_engagement)

df["fb_engagement"] = df["fb_engagement"].str.replace(".00",'')

df["fb_engagement"] = df["fb_engagement"].str.replace(",",'')

df["fb_engagement"] = df["fb_engagement"].replace('',0)

df["fb_engagement"] = df["fb_engagement"].astype(int)

<ipython-input-201-d327663cccb4>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df["fb_engagement"] = df["fb_engagement"].str.replace(".00",'')

In [202]:
## We'll remove articles with at least 100 engagements. 100 is a safe space to cut-off, otherwise the data will get skewed towards 0 as there are a lot of low-engagement articles.

df = df[df["fb_engagement"] > 100]

In [203]:
## Identifying outliers

q1 = df["fb_engagement"].describe()['25%']
q3 = df["fb_engagement"].describe()['75%']

iqr = (q3 - q1)

lf = q1 - (1.5 * iqr)
uf= q3 + (1.5 * iqr)

print(f'25th Quartile: {q1}')
print(f'75th Quartile: {q3}')
print(f'Interquartile range: {iqr}')
print(f'Lower Fence: {lf}')
print(f'Upper Fence: {uf}')

print(f'The quartiles are low due to the number of articles analyzed. There are articles that are not necessary in our data analysis as of the moment.')

25th Quartile: 188.75
75th Quartile: 1649.0
Interquartile range: 1460.25
Lower Fence: -2001.625
Upper Fence: 3839.375
The quartiles are low due to the number of articles analyzed. There are articles that are not necessary in our data analysis as of the moment.

In [ ]:
## We'll set aside all the articles within the lower and upper fence to another dataframe

main_df = df[(df["fb_engagement"] > lf) & (df["fb_engagement"] < uf)]

## for subsequent analyses, we will be using the main_df.

display(main_df)

In [206]:
main_df.to_csv("ActualData")